
.operator-bar{
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    .style__base{
        padding:5px 20px;
        color: #666;
        font-size: 14px;
        span{
            display: inline-block;
            width: 50%;
        }
    }
    .select_img{
        font-size: 24px;
        vertical-align: text-bottom;
        padding: 4px;
        margin-left: 10px;
        vertical-align: super;
        cursor: pointer;
    }
}